.manage-teams {
    padding: 25px;
}
.match-selection {
    display: flex;
}
.match-selector {
    width: 500px;
    padding: 10px;
}
.match-selection-text {
    padding: 20px;
}
.action-buttons {
    padding: 20px;
}
.save-button {
    width: 400px;
}
.last-modified-by {
    margin: 15px;
    flex: 1
}